<!DOCTYPE html>
<html lang="en">

<head>
    <title> Not found </title>
    {{>headerlinks}}

    <style>
        body {
            background: linear-gradient(67deg, #70dfff, #9d60ff);
            justify-content: center;
            align-items: center;
        }

        .err-box {
            color: #555555;
            background: white;
            width: 80vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 30px;
        }

        .err-box img {
            width: 450px;
        }

        .err-box p {
            font-size: 22px;
            margin: 10px 0;
        }

        #returnHome {
            color: white;
            background: #4888c4;
            box-shadow: none;
            border-radius: 40px;
            padding: 8px 15px;
            margin-top: 20px;
        }
        #returnHome:hover{
            background: rgb(0, 107, 179);
        }
    </style>
</head>

<body>
    <div class="err-box">
        <img src="images/crop404.jpg">
        <h2>    OOPS! PAGE NOT FOUND.   </h2>
        <p>    Sorry, the page you are looking for doesn't exist. If you think
            something is broken, then report it. </p>
        <a href="/"> <button class="btn" id="returnHome"> Return Home </button> </a>
    </div>
</body>

</html>