<!DOCTYPE html>
<html lang="en">

<head>
  <title> About Me </title>
  {{>headerlinks}}

  <style>
    .main {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }

    .aboutme p {
      font-size: 24px;
      margin: 30px 0;
    }

    #myphoto {
      /* box-shadow vs filter */
      filter: drop-shadow(3px 4px 4px rgb(4, 104, 255));
      margin-left: 40px;
      border-radius: 100%;
    }
  </style>

</head>

<body>

  {{>navbar}}

  <!-- Main Content -->

  <div class="main">

    <div>   <img id="myphoto" src="images/myphoto.jpg">   </div>

    <div class="aboutme">
      <h2 style="text-decoration: underline;">About Me</h2>
      <p>I am 18 years old and want to build a life in Canada as an International student.</p>
      <a href="https://www.youtube.com/@namjotsingh/featured" target="_">
        <button class="btn">About Me</button>
      </a>
    </div>

  </div>

  {{>footer}}


</body>


</html>