<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}

    <style>
        body {
            background: url('images/main bg (1).jpg') center/contain;
        }

        .main {
            flex-direction: column;
            font-family: 'Roboto', sans-serif;
            margin-top: 80px;
        }

        #search {
            width: 40vw;
            font-size: 22px;
            border: none;
            outline: none;
            text-transform: capitalize;
            border-radius: 6px;
            padding: 7px 15px;
        }

        .weather-info {
            background: rgb(255, 255, 255);
            width: 40vw;
            height: 250px;
            font-size: 28px;
            margin-top: 40px;
            border-radius: 15px;
            padding: 20px 30px;
            text-align: center;
        }

        .first {
            display: flex;
            justify-content: space-between;
            padding: 5px 10px;
        }

        .third {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            padding: 20px;
        }

        .weather-icon i {
            font-size: 4rem;
            margin: 0px 30px;
        }

        .fa-moon {
            color: #ffffff;
            background: rgb(61, 61, 61);
            padding: 10px 20px;
            border-radius: 100%;

        }
    </style>
</head>

<body>

    {{>navbar}}

    <!-- Main Content -->
    <div class="main">
        <div>
            <form>
                <input type="search" name="" id="search" placeholder="enter your city name here..." autofocus>
            </form>
        </div>
        <div class="weather-info">
            <div class="first">
                <p class="day"> </p>
                <p class="date"></p>
            </div>
            <div class="location"></div>
            <div class="third">
                <p class="temp"></p>
                <p class="weather-icon"></p>
            </div>
        </div>
    </div>
    {{>footer}}

</body>
<script src="script.js"></script>

</html>