 <!-- Navbar -->
    <ul class="navbar">
      <li id="logo">
        <i class="fa-sharp fa-solid fa-snowflake snow"></i>
        Namjot
        <i class="fa-sharp fa-solid fa-snowflake snow"></i>
      </li>
      <li><a href="/">Home</a></li>
      <li><a href="/weather">Weather</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="">Contact Us</a></li>
    </ul>